:root {
    --siteGradient: linear-gradient(#000080, #0000FF, #00FFFF);
    --friendCubeGradient: linear-gradient(to bottom right, #006400, #008000, #228b22);
    --girlfriendCubeGradient: linear-gradient(to bottom left, #006400, #008000, #228b22);
}

.friendCubes {
    font-family: 'Courier New', Courier, monospace;

}

.girlfriendCubes {
    font-family: 'Courier New', Courier, monospace
}

#brnarr {
    position: relative;
    text-align: center;
    left: 450px;
    top: 200px;
    transform: rotate(30deg);
    width: 100px;
    height: 50px;
}

#brnarr2 {
    position: relative;
    text-align: center;
    left: 600px;
    top: 350px;
    transform: rotate(345deg);
    width: 100px;
    height: 50px;
}

#brnarr3 {
    position: relative;
    text-align: center;
    left: 700px;
    top: 100px;
    transform: rotate(345deg);
    width: 100px;
    height: 50px;
}

#brnarr4 {
    position: relative;
    text-align: center;
    left: 975px;
    top: 100px;
    transform: rotate(345deg);
    width: 100px;
    height: 50px;
}

#brnarr5 {
    position: relative;
    text-align: center;
    left: 1000px;
    top: 290px;
    transform: rotate(115deg);
    width: 100px;
    height: 50px;
}
#brnarr6 {
    position: relative;
    text-align: center;
    top: 525px;
    left: 600px;
    transform: rotate(140deg);
    width: 100px;
    height: 50px;
}

#body {
    background-color: var(--siteGradient);
}

#friendText-cube1 {
    left: 250px;
    width: 200px;
    bottom: 60px; 
    height: 125px;
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--friendCubeGradient);

}

#friendText-cube2 {
    top: 10px;
    left: 450px;
    width: 200px;
    height: 140px;
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--friendCubeGradient);
}

#friendText-cube3 {
    left: 830px;
    width: 200px;
    bottom: 220px;
    height: 160px;
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--friendCubeGradient);
}

#girlfriendText-cube1 {
    left: 650px;
    width: 200px;
    bottom: 700px;
    height: 70px;
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--girlfriendCubeGradient);
}

#girlfriendText-cube2 {
    left: 1025px;
    width: 200px;
    bottom: 875px;
    height: 210px;
    padding: 15px; 
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center; 
    border-radius: 10px;
    background: var(--girlfriendCubeGradient);
}

#girlfriendText-cube3 {
    left: 1410px;
    width: 200px;
    bottom: 1150px;
    height: 180px; 
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--girlfriendCubeGradient);
}

#girlfriendText-cube4 {
    left: 1250px;
    width: 200px;
    bottom: 1060px;
    height: 210px;
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--girlfriendCubeGradient);
}

#girlfriendText-cube5 {
    left: 850px;
    width: 200px;
    bottom: 1200px;
    height: 250px;
    padding: 15px;
    color: white;
    border: 2px solid;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background: var(--girlfriendCubeGradient);
}